<div style='margin: auto; max-width: 800px;'>
<h1 id="question-submission">Question Submission</h1>
<h2 id="fundamental-guidelines">Fundamental Guidelines</h2>
<h3 id="what-should-a-question-look-like">What should a question look like?</h3>
<h4 id="general">General</h4>
<p>We recommend reading the <a href="http://science.energy.gov/~/media/wdts/nsb/pdf/coordinator%20resources/2015_nsb_rules.pdf">Science Bowl Rules</a> to get a general idea of what a question looks like as well as an understanding of the competition in general. You can also watch previous Science Bowl Finals <a href="https://www.youtube.com/watch?v=yA6Lhv3FcSU">(last years final)</a> on YouTube to see the competition in action.</p>
<h4 id="basics">Basics</h4>
<p>Essentially, questions come in pairs of <strong>toss-ups</strong> and <strong>bonuses</strong>, which fall in one of 6 subjects:</p>
<ul>
<li>Biology</li>
<li>Chemistry</li>
<li>Physics</li>
<li>Math</li>
<li>Earth/Space Science</li>
<li>Energy</li>
</ul>
<p>Each toss-up has a five-second time limit (meaning a five second time limit after the question is fully read) while each bonus has a 10-second time limit. Both teams have the opportunity to answer the toss-up: if a team gets it right, that team (and only that team) has the opportunity to answer the corresponding bonus. The toss-up is worth 4 points while the bonus is worth 10.</p>
<h3 id="question-styles">Question Styles</h3>
<p>Really you can only absorb the specific format of the questions by reading some yourself: see <a href="http://science.energy.gov/wdts/nsb/high-school/high-school-regionals/hs-rules-forms-resources/sample-science-bowl-questions/">here</a>.</p>
<p>Essentially there are two types of questions: free response and multiple choice. Science bowl questions are rarely—if ever—worded in complete the sentence format. Generally, they are phrased as a proper question or, for free response, phrased in command form: &quot;name (something) that satisfies (something else).&quot;</p>
<h4 id="multiple-choice">Multiple Choice</h4>
<p>Multiple choice questions all consist of a question body and 4 answer choices: W, X, Y, and Z. Try to keep answer choices relatively short (<strong>at least</strong> under a sentence). Similar answer choices should be parallel in structure: for example, for the question</p>
<blockquote>
<p>Which of the following operations on angular velocity and the circular radius equates to the tangential velocity along a circle at that radius?</p>
</blockquote>
<p>the answer choices should be:</p>
<blockquote>
<ul>
<li>Angular velocity plus the radius</li>
<li>Angular velocity minus the radius</li>
<li>Angular velocity times the radius</li>
<li>Angular velocity divided by the radius</li>
</ul>
</blockquote>
<p>and not:</p>
<blockquote>
<ul>
<li>Angular velocity plus the radius</li>
<li>The angular velocity minus the radius</li>
<li>Radius times the angular velocity</li>
<li>The quotient of the angular velocity and the radius</li>
</ul>
</blockquote>
<h4 id="free-response">Free Response</h4>
<p>Free response questions consist of a question body with a open-ended answer. Answers to free response questions should be no longer than a short phrase and should be unambiguous. If multiple answers are acceptable (should only occur if an answer can be worded multiple ways) then alternate answers should be listed in brackets.</p>
<h2 id="specific-instructions">Specific Instructions</h2>
<p>When submitting (bi-)weekly sets, please create a new question set for each meeting. Please title the set &quot;Weekly Set (due date).&quot;</p>
<p>For example, if you are submitting your weekly set for the September 10th 2015 meeting, title your set &quot;Weekly Set 09/10/15&quot;. You don't have to include your name in the title, as long as you filled in your name correctly when signing up.</p>
<p>If you signed up using an alias or didn't include both your First and Last name when signing up, please contact us immediately at dullessciencebowl@gmail.com; otherwise, we will not be able to give you credit for your questions.</p>
<p>Each question set should consist of five or more questions. Try to have one Biology, Chemistry, Physics, and Math question, with the last question either Earth/Space Science or Energy. You should randomize the order subjects appear in your question set.</p>

<h3>How do I navigate this site to create question sets and stuff?</h3>
<p>It's quite challenging.</p>

<h4> By the way, we support LaTeX within questions via MathJax</h3>
<p> Using \( \) for inline math and \[ \] for separated equations. </p>

</div>
