.panel
  %h1
    Dulles National Science Bowl Question Portal
  %p This is our main portal for viewing, editing, and submitting practice Science Bowl Questions.
  %p 
    %a{href: 'http://dullesnsb.weebly.com'} Visit our main site
