// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mcchoices label {
  font-size: 1.7em;
  font-weight: bold;
  color: #2e3486;
}

p.letter {
  font-weight: bold;
  font-size: 1.1em;
}

h2.countdown {
  color: #c93131;
  border: 2px solid #c93131;
  border-radius: 12px;
  background: #eee;
  margin: auto;
  text-align: center;
}

h2.countdown:hover {
  background: #fee;
}
